* {
    margin: 0;
	padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 2;
  color: white;
}
.main {
	height: 100vh;
	background-size: cover;
	background-position: center;
	/* background-blend-mode: multiply;
	background-color: #7a7f85; */
	text-align: center;
	display: grid;
	grid-template-rows: 80% 0%;
	align-items: center;
	justify-content: center;
	text-shadow: 
	2px 0 2px #000, 
	0 2px 2px #000, 
	-2px 0 2px #000, 
	0 -2px 2px #000;
}

.description {
    text-align: center;
    color: white;
}
#elbrus {
	height: 40vh;
	width: 50vh;
}
.about {
	height: auto;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: left;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	padding: 10px;
	gap: 3px;
}
.block {
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
}
.image {
	max-width: 30%;
	margin: 7px 7px 7px 0;
	float:left;
	display: block;
}
h2 {
	width: 100%;
	grid-column: span 2;
	background: linear-gradient(70deg, rgb(0, 158, 97), rgb(10, 61, 36));
}
im {
	background: linear-gradient(70deg, rgb(0, 158, 137), rgb(8, 68, 63));
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
	.image {
		max-width: 35%;
	}
}
@media only screen and (min-width: 768px) and (max-width:991px) {
	.image {
		max-width: 40%;
	}
}
@media only screen and (min-width: 576px) and (max-width:767px) {
	.image {
		max-width: 45%;
	}
}
@media only screen and (min-width: 478px) and (max-width:575px) {
	.image {
		max-width: 100%;
	}
}
@media only screen and (min-width: 320px) and (max-width:477px) {
	.image {
		max-width: 100%;
	}
	#elbrus {
		height: 25vh;
		width: 32vh;
	}
}
