* {
    margin: 0;
	padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 2;
  color: white;
}
/*1*/
.main {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-content: center;
	text-shadow: 
	2px 0 2px #000, 
	0 2px 2px #000, 
	-2px 0 2px #000, 
	0 -2px 2px #000;
}

.description {
    text-align: center;
    color: white;
}
#elbrus {
	height: 40vh;
	width: 50vh;
}
/*2*/
.about {
	height: 3100px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: left;
	display: grid;
	grid-template-columns: 30% 69%;
	grid-template-rows: auto;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 3px;
}
.block { 
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
	height: 100%;
	width: 100%;
}
.blockimg { 
	background-color: rgba(205, 214, 219, 0.3);
	display: block;
	height: 100%;
	width: 100%;
	position: relative
}
.blockimg > img {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	max-width: 100%; 
	max-height: 100%;
}
h2 {
	background: linear-gradient(70deg, rgb(0, 158, 97), rgb(10, 61, 36));
}
im {
	background: linear-gradient(70deg, rgb(0, 158, 137), rgb(8, 68, 63));
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
	.about {
		height: 4700px;
	}	
}
@media only screen and (min-width: 768px) and (max-width:991px) {
	.about {
		grid-template-columns: 99%;
		height: 5500px;
	}
	.blockimg { 
		background: none;
	}	
}
@media only screen and (min-width: 576px) and (max-width:767px) {
	.about {
		grid-template-columns: 99%;
		height: 6300px;
	}
	.blockimg { 
		background: none;
	}	
}
@media only screen and (min-width: 478px) and (max-width:575px) {
	.about {
		height: 7500px;
		grid-template-columns: 99%;
	}	
	.description {
		text-align: center;
		color: white;
	}
	#elbrus {
		height: 30vh;
		width: 40vh;
	}
	.blockimg { 
		background: none;
	}	
}
@media only screen and (min-width: 320px) and (max-width:477px) {
	.description {
		text-align: center;
		color: white;
	}
	.about {
		height: 7600px;
		grid-template-columns: 99%;
	}	
	#elbrus {
		height: 25vh;
		width: 32vh;
	}
	.blockimg { 
		background: none;
	}	
}
