* {
    margin: 0;
	padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 2;
  color: white;
}
/*1*/
.main {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-content: center;
	text-shadow: 
	2px 0 2px #000, 
	0 2px 2px #000, 
	-2px 0 2px #000, 
	0 -2px 2px #000;
}
.description {
    text-align: center;
    color: white;
}
#elbrus {
	height: 40vh;
	width: 50vh;
}
/*2*/
.about {
	height: auto;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	padding: 4%;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto 420px 60px;
	justify-content: center;
	gap: 2%;
}
.block1 { 
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
	height: 100%;
}
.block1 > p, .block1 > h2, .block2 > ul, .block2 > h2, .block2 > p {
	padding: 5px;
}
/*3*/
.info {
	height: 880px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: left;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 100%;
	align-items: center;
	justify-content: center;
	padding: 3%;
	gap: 2%;
}
.block2 {
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
}

/*4*/
.end {
	height: 500px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: auto 15%;
	align-items: center;
	justify-content: center;
	padding: 3%;
	gap: 2%;
}
.compability {
	display: block;
	grid-column: span 2;
}
.compability > h2 {
	background: none;
}
h2 {
	background-color: rgb(0, 162, 255);
}
.img2 {
	grid-column: span 2;
	display: block;
	height: 100%;
	width: 100%;
	position: relative
}
.img1 {
	display: block;
	height: 100%;
	width: 100%;
	position: relative
}
.img3 {
	display: block;
	height: 100%;
	width: 100%;
	grid-column: span 2;
	position: relative
}
.img3 > img {
	margin: 0;
	position: relative;
	top:50%;
	transform: translate(0%, -50%);
	max-width: 100%; 
	max-height: 100%;
}
.img1 > img, .img2 > img {
	margin: 0;
	position: relative;
	transform: translate(0%, 0%);
	max-width: 100%; 
	max-height: 100%;
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
	.about {
		height: 1200px;
		grid-template-rows: 660px 420px auto;
	}
}
@media only screen and (min-width: 768px) and (max-width:991px) {
	.about {
		height: 1700px;
		grid-template-rows: 400px 400px 320px auto 400px;
		grid-template-columns: 50% 50%;
	}
	#i2 {
		grid-row: 5/5;
	}
	.info {
		height: 1150px;
		grid-template-columns: 50% 50%;
		grid-template-rows: 48% 50%;
	}
}
@media only screen and (min-width: 576px) and (max-width:767px) {
	.about {
		height: 2050px;
		grid-template-rows: 600px 540px 320px auto 400px;
		grid-template-columns: 50% 50%;
	}
	#i2 {
		grid-row: 5/5;
	}
	.info {
		height: 1300px;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;
	}
	.end {
		height: 600px;
	}
}
@media only screen and (min-width: 478px) and (max-width:575px) {
	.about {
		height: 2100px;
		grid-template-rows: 700px 610px 300px auto 280px;
		grid-template-columns: 50% 50%;
	}
	#i2 {
		grid-row: 5/5;
	}
	.info {
		height: 1300px;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;
	}
	.end {
		height: 1100px;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
	}
	#MB {
		grid-row: 3/3;
	}
}
@media only screen and (min-width: 320px) and (max-width:477px) {
	.about {
		height: 3200px;
		grid-template-rows: 500px 500px 500px 400px 300px 200px 300px;
		grid-template-columns: 100%;
		gap: 2.5%;
	}
	/* #i2 {
		grid-row: 5/5;
	} */
	.info {
		height: 1700px;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
	}
	.end {
		height: 1300px;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
	}
	#MB {
		grid-row: 3/3;
	}
	.img2, .img3 {
		grid-column: span 1;
	}
	#elbrus {
		height: 24vh;
		width: 32vh;
	}
}


