* {
    margin: 0;
	padding: 0;
}
body {
  font-family: raleway_f, sans-serif;
  line-height: 2;
  color: white;
}
/*1*/
.main {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-content: center;
	text-shadow: 
	2px 0 2px #000, 
	0 2px 2px #000, 
	-2px 0 2px #000, 
	0 -2px 2px #000;
}
.description {
    text-align: center;
    color: white;
    font-size: 1.5em;
}
#elbrus {
	height: 40vh;
	width: 50vh;
}
/*2*/
.about {
	height: 970px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
	grid-template-rows: 500px 460px;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 5px;
	/* font-size: 0.9em; */
}
.block1 { 
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
	height: 90%;
}
.block2 { 
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
	height: 90%;
}
.block3 { 
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
	height: 90%;
}
.block4 { 
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
	height: 90%;
}
/*3*/
.info {
	height: 880px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: left;
	display: grid;
	grid-template-columns: 23% 23% 46%;
	grid-template-rows: 100%;
	align-items: center;
	justify-content: center;
	gap: 20px;
	/* font-size: 0.9em; */
}
.communication {
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
}
.using {
	background-color: rgba(205, 214, 219, 0.3);
    display: block;
}
/*4*/
.end {
	height: 700px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: #7a7f85;
	text-align: center;
	display: grid;
	grid-template-columns: 49% 49%;
	grid-template-rows: 60% 40%;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.compability {
	display: block;
	grid-column: 1 / span 2;
}
.compability > h2 {
	background: none;
}
footer {
	background: linear-gradient(149deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 42%, rgb(21, 255, 0) 72%, rgb(0, 247, 0) 100%);
    animation: gradient 10s infinite linear;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100px;
	background-size: 400%;
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
@media only screen and (min-width: 1200px) {
	.img4 > img {	
	display: block;
	width: 100%;
}
h2 {
	background-color: rgb(0, 162, 255);
}
.img2 {	
    display: block;
	grid-column: 2/4;
	width: 85%;
}
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
	.about, .info, .end {
		font-size: 0.85em;
	}
	.img4 > img {	
	display: block;
	width: 100%;
}
.img2 {	
    display: block;
	grid-column: 2/4;
	width: 85%;
}
.img5 > img, .img6 > img {
	width: 60%;
}
}
@media only screen and (min-width: 768px) and (max-width:991px) {
	.description {
		font-size: 1.2em;
	}
	.about, .end, .info {
		font-size: 0.75em;
	}
	.info {
		grid-template-columns: 46% 46%;
		grid-template-rows: 50% 50%;
	}
	.img4 {	
		position: relative;
		display: block;
		grid-column: span 2;
		text-align: center;
		top: -80px;
	}
	.img2 {	
		display: block;
		grid-column: 2/4;
		width: 85%;
	}
	.img5 > img, .img6 > img {
		max-width: 350px;
		width: 70%;
	}
}
@media only screen and (min-width: 576px) and (max-width:767px) {
	.description {
		font-size: 1.2em;
	}
	.about, .end, .info {
		font-size: 0.75em;
	}
	.info {
		grid-template-columns: 46% 46%;
		grid-template-rows: 60% 40%;
	}
	.img4 {	
		position: relative;
		display: block;
		grid-column: span 2;
		text-align: center;
		top: -50px;
	}
	.about {
		grid-template-rows: 60% 40%;
	}
	.img2 {	
		display: block;
		grid-column: 2/4;
		width: 85%;
	}
	.img5 > img, .img6 > img {
		width: 80%;
	}
}
@media only screen and (min-width: 478px) and (max-width:575px) {
	.description {
		font-size: 1.15em;
	}
	.about, .end, .info {
		font-size: 0.72em;
	}
	.info {
		grid-template-columns: 46% 46%;
		grid-template-rows: 60% 40%;
	}
	.img4 {	
		position: relative;
		display: block;
		grid-column: span 2;
		text-align: center;
		top: -50px;
	}
	.about {
		grid-template-columns: 99%;
		grid-template-rows: 27% 23% 23% 23%;
	}
	.block1, .block2, .block3, .block4 {
		display: none;
	}
	.img1, .img2, .img3 {	
    display: block;
	width: 60%;}
	.img5 > img, .img6 > img {
		width: 80%;
	}
}
@media only screen and (min-width: 320px) and (max-width:477px) {
	.description {
		font-size: 0.95em;
	}
	.about, .end, .info {
		font-size: 0.72em;
	}
	.info {
		font-size: 0.69em;
		grid-template-columns: 46% 46%;
		grid-template-rows: 75% 29%;
	}
	.img4 {	
		position: relative;
		display: block;
		grid-column: span 2;
		text-align: center;
		top: -50px;
	}
	.about {
		grid-template-columns: 99%;
		grid-template-rows: 29% 23% 23% 23%;
	}
	.block1, .block2, .block3, .block4 {
		display: none;
	}
		#elbrus {
		height: 24vh;
		width: 32vh;
	}
	.img1, .img2, .img3 {	
    display: block;
	width: 70%;}
	.img5 > img, .img6 > img {
		width: 80%;
	}
}


